<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Hacker News</title>
  </head>

  <body>
    <script>
      function visualLike(msj, id, id2) {
        document.getElementById(id).style.visibility = "hidden";
        document.getElementById(id2).style.visibility = "visible";
      }
      function visualUnlike(msj, id, id2) {
        document.getElementById(id2).style.visibility = "visible";
        document.getElementById(id).style.visibility = "hidden";
      }

      function vote(msj, id) {
        document.getElementById(id).disabled = true;
        const Http = new XMLHttpRequest();
        const url = "/like/" + msj;
        Http.open("POST", url);
        Http.send();
      }
      function unvote(msj, id, id2) {
        document.getElementById(id2).disabled = false;
        const Http = new XMLHttpRequest();
        const url = "/unlike/" + msj;
        Http.open("POST", url);
        Http.send();
      }
      function timeSince(date) {
        var seconds = Math.floor((new Date() - date) / 1000);
        var interval = seconds / 31536000;
        if (interval > 1) {
          return Math.floor(interval) + " years";
        }
        interval = seconds / 2592000;
        if (interval > 1) {
          return Math.floor(interval) + " months";
        }
        interval = seconds / 86400;
        if (interval > 1) {
          return Math.floor(interval) + " days";
        }
        interval = seconds / 3600;
        if (interval > 1) {
          return Math.floor(interval) + " hours";
        }
        interval = seconds / 60;
        if (interval > 1) {
          return Math.floor(interval) + " minutes";
        }
        return Math.floor(seconds) + " seconds";
      }
    </script>

    <table class="hdMain">
      <tbody>
        <tr>
          <td class="table-color">
            <table class="header">
              <tbody>
                <tr>
                  <td class="tdImage">
                    <a class="navbar-brand" href="/">
                      <img
                        src="/images/y18.jpeg"
                        width="18"
                        height="18"
                        style="border: 1px #ffffff solid; padding-right: 0px"
                      />
                    </a>
                  </td>
                  <td class="nav-links">
                    <a class="nav-link" href="/" style="padding-left: 0px">
                      <span class="page-top">
                        <b class="navText">Hacker News</b>
                      </span>
                    </a>
                  </td>
                  <td class="nav-links">
                    <a
                      class="nav-link"
                      href="/newest"
                      style="padding-left: 2px; padding-right: 2px"
                    >
                      <span class="page-top">
                        <d class="navText">new</d>
                      </span>
                    </a>
                  </td>
                  <td class="navText">|</td>
                  <td class="nav-links">
                    <a
                      class="nav-link"
                      href="/submit"
                      style="padding-left: 2px; padding-right: 2px"
                    >
                      <span class="page-top">
                        <d class="navText">submit</d>
                      </span>
                    </a>
                  </td>
                  <td class="navText">|</td>
                  <td class="nav-links">
                    <a
                      class="nav-link"
                      href="/ask"
                      style="padding-left: 2px; padding-right: 2px"
                    >
                      <span class="page-top">
                        <d class="navText">ask</d>
                      </span>
                    </a>
                  </td>
                  <td class="navText">|</td>
                  <%if(!session.user){ %>
                  <td class="nav-links">
                    <a
                      class="nav-link"
                      href="/login"
                      style="padding-left: 2px; padding-right: 2px"
                    >
                      <span class="page-top">
                        <d class="navText">login</d>
                      </span>
                    </a>
                  </td>
                  <%}else {%>
                  <td class="nav-links">
                    <a
                      class="nav-link"
                      href="/user/<%=session.user.username%>"
                      style="padding-left: 2px; padding-right: 2px"
                    >
                      <span class="page-top">
                        <d class="navText"><%=session.user.username%></d>
                      </span>
                    </a>
                  </td>
                  <td class="navText">|</td>
                  <td class="nav-links">
                    <a
                      class="nav-link"
                      href="/logout"
                      style="padding-left: 2px; padding-right: 2px"
                    >
                      <span class="page-top">
                        <d class="navText">logout</d>
                      </span>
                    </a>
                  </td>
                  <%}%>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table>
              <tbody>
                <% var i=1 %> <% submissions.forEach( (submission)=>{ %> <% if
                (submission.subType=='url') {%>
                <tr style="height: 15px"></tr>
                <tr style="padding-bottom: 0px">
                  <td><%=i%>.</td>
                  <td>
                    <form action="/like/<%= submission._id %>" method="POST">
                      <button
                        style="background-color: transparent; border: none"
                        id="id<%= i %>x"
                        onclick="visualLike('<%= submission._id %>', this.id, 'id<%= i %>')"
                      >
                        <img src="/images/triangle.png" width="8" height="8" />
                      </button>
                    </form>
                  </td>
                  <td style="padding-left: 15px">
                    <p>
                      <a href="<%= submission.url%>">
                        <%= submission.title%>
                      </a>
                      (<%= submission.url%>)
                    </p>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="padding-left: 15px">
                    <%= submission.votes %> points | by
                    <a href="/user/<%= submission.username%>"
                      ><%= submission.username%></a
                    >
                    at <%=submission.createdAt%> %> |
                    <a href="/submission/<%=submission._id%>"> comment </a>
                    |
                  </td>
                  <td>
                    <form action="/unlike/<%= submission._id %>" method="POST">
                      <button
                        style="
                          height: 7px;
                          background-color: transparent;
                          border: none;
                          color: #828282;
                        "
                        id="id<%= i %>"
                        onclick="visualUnlike('<%= submission._id %>', this.id, this.id+'x')"
                      >
                        <d>Unlike</d>
                      </button>
                    </form>
                  </td>
                </tr>
                <tr style="height: 10px"></tr>
                <% i+=1} %> <% }) %>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
